<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>David Emrich— {{page.title}}</title>

  <meta name="description" content="Combing the elements of design and programming to make Beautiful / Functional User Interfaces and Web Applications" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!-- Loading Bootstrap -->
  <link href="{{ "/bootstrap/css/bootstrap.css" | relative_url}}" rel="stylesheet" media="screen">
  <!-- Loading Flat UI -->
  <link href="{{"/css/flat-ui.css" | relative_url}}" rel="stylesheet">
  <!-- Loading Icons -->
  <link href="{{"/css/icons.css"}}" rel="stylesheet">
  <!-- Loading Image Hover -->
  <link href="{{"/css/img_hov.cs"}}s" rel="stylesheet">
  
  <link href="{{"/css/style.css"}}" rel="stylesheet">



  <link rel="shortcut icon" href="{{"/images/favicon.ico"}}">
  <style type="text/css">
    a:hover {
      color: #99be25;
    }
  </style>


  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<a name="anchor" id="anchor"></a>

<body>

    {% include header.html %}

        {{ content }}

    {% include footer.html %}

  <!-- Load JS here for greater good =============================-->
  <script src="{{"/js/jquery-2.0.3.min.js"}}"></script>
  <script src="{{"/js/bootstrap.min.js"}}"></script>
  <script src="{{"/js/img_hov.js"}}"></script>
  <script src="{{"/js/jqBootstrapValidation.js"}}"></script>
  <script src="{{"/js/contact_me.js"}}"></script>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-38564911-2', 'auto');
    ga('send', 'pageview');
  </script>



</body>

</html>