---
layout: default
---

<div class="fader">
        <div class="container">
            <div class="col-md-8">
                <img src="images/img/portfolio/{{page.image1}}" class="img-responsive">
            </div>
            <div class="col-md-4">
                <span style="letter-spacing: 0.15em">
                    <h3>{{page.title}}</h3>
                </span>
                <hr class="style-two">
                    {{page.content}} <br><br>
                    <p style="line-height: 2em">
                    Roles:
                    <br> {{page.role}}
                    <br>
                    <br> Technologies Used:
                    <br> {{page.technology}}
                    <br>
                    <br>
                    <a href="https://myselectsmart.com" target="_blank"> Visit Site »</a>
                </p>
            </div>
        </div>
    </div>